<div class="meal-form">
  <form action=""
        [formGroup]="form"
  >
    <div class="meal-form__name">
      <label>
        <h3>Meal name</h3>
        <input type="text"
               placeholder="e.g. English Bakery"
               formControlName="name"
        >
        <div class="error" *ngIf="required">
          Name is required
        </div>
      </label>
    </div>
    <div class="meal-form__food">
      <div class="meal-form__subtitle">
        <h3>Food</h3>
        <button type="button"
                class="meal-form__add"
                (click)="addIngredients()"
        >
          <img src="/src/img/add-white.svg" alt="">
          Add
        </button>
      </div>
      <div formArrayName="ingredients">
        <label *ngFor="let c of ingredients.controls; index as i">
          <input type="text"
                 [formControlName]="i" placeholder="e.g. Eggs"
          >
          <span
            class="meal-form__remove"
            (click)="removeIngredients(i)"
          >

          </span>
        </label>

      </div>
    </div>
    <div class="meal-form__submit">
      <div>
        <button class="button" type="button"
                (click)="createMeal()"
                *ngIf="!exists"
        >
          Create Meal
        </button>
        <button class="button" type="button"
                (click)="updateMeal()"
                *ngIf="exists"
        >
          Edit Meal
        </button>

        <a class="button button--cancel" [routerLink]="['../']">
          Cancel
        </a>
      </div>

      <!--remove-->
        <div class="meal-form__delete" *ngIf="exists">
          <div
               *ngIf="toggled"
          >
            <p>Delete ite?</p>
            <button class="confirm" type="button"
                    (click)="removeMeal()"
            >
              Yes
            </button>
            <button class="cancel" type="button"
                    (click)="toggle()"
            >
              No
            </button>

          </div>
          <!--change trash to button-->
          <button class="button button--delete" type="button" (click)="toggle()">
            Delete
          </button>
        </div>
      <!--remove end-->
    </div>

  </form>
</div>
