<div>
  <!--{{ meals$ | async | json }}-->
  <div class="meals">
    <div class="meals__title">
      <img src="/src/img/food.svg" alt="">
      <h1>Your Meals</h1>
      <a
        class="btn__add"
        [routerLink]="['../meals/new']"
      >
        <img src="/src/img/add-white.svg" alt="">
        New meal
      </a>
    </div>
    <!--show meals-->
    <div *ngIf="meals$ | async as meals; else loading">
      <div class="message" *ngIf="!meals.length">
        <img src="/src/img/face.svg" alt="">
        No meals, add a new meal to start
      </div>
      <!--meals ngFor-->
    </div>
    <ng-template #loading>
      <div class="message">
        <img src="/src/img/loading.svg" alt="">
        Fetching meals...
      </div>

    </ng-template>

  </div>

</div>
